apiVersion: apps/v1
kind: Deployment
metadata:
  annotations: {}
  labels:
    name: polis-server
  name: {{ .Release.Name }}-server
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: polis-server
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations: {}
      labels:
        name: polis-server
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: polis-configmap
        env:
        - name: DEV_MODE
          value: "false"
        image: registry.gitlab.com/particiapp/polis/file-server:latest
        imagePullPolicy: Always
        livenessProbe:
          exec:
            command:
            - nc -w 1 127.0.0.1 8080
          failureThreshold: 3
          initialDelaySeconds: 90
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 10
        name: polis-server
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 500m
            memory: 512M
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

