apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  labels:
    name: polis-math
  name: polis-math
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: polis-math
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        name: polis-math
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: polis-configmap
        image: registry.gitlab.com/particiapp/polis/math:20241015T230151Z_745851d
        imagePullPolicy: IfNotPresent
        name: polis-math
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
